<!DOCTYPE html>
<html>
  <head>
    <title>LibAppDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render "shared/header" %>

    <div>
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
          <div class="container text-center">
            <h4 py-4><%= value %></h4>
          </div>
        </div>
      <% end %>
    </div>

    <div class="container mt-4">
      <%= yield %>
    </div>
    
    <%= render "shared/footer" %>

  </body>
</html>
